@font-face {
    font-family: 'Pixelfont';
    src: url('./assets/Pixeldont.woff')format('woff'), url('./assets/Pixelfont.woff2')format('woff2');
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevents scrolling Some browsers use html as the scrollable container,Some use body as the scrollable containerSetting both ensures no scrollbars appear in any brows*/
}

body{
    background-image: url("./assets/night-sky-background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#Backbutton{
    display: inline-block;
    vertical-align: middle; /* Aligns with text baseline */
    height: 50px; /* Or your desired size */
    margin-right: 83px;
}
.Year{
    display:flex;
    position: relative;
    top: 20px;
    align-items: center;
}

#Year{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-family: 'Pixelfont';
    font-size: 32px;
    color:rgb(125, 14, 152);
}

.Date{
    position: relative;
    font-size: 20px;
    color:rgb(170, 100, 173);
    text-align: center;
    font-family: 'Pixelfont';
    padding:0%;
}

.Day{
    font-size: 20px;
    color:rgb(170, 100, 173);
    text-align: center;
    font-family: 'Pixelfont';
    position: relative;
    bottom: 10px;
}



.Cat{
    position: relative;
    right: 10px;
    top: 20px; 
    padding: 1px;
}

.Clock{
    display: flex;
    bottom:135px;
    left:230px;
    font-size:25px;
    position: relative;
    color:rgb(170, 100, 173);
    text-align: center;
    font-family: 'Pixelfont';
}

#Second{
    min-width: 300px;
}


